header {
	font-family: 'Bangers';
	font-size: 350%;
	color: #f7f8e3;	
		
	.navBar {
		width: 75%;
		height: 100px;
		margin-left: 20%;

			ul {
				margin-top: 2%;
				list-style-type: none;
				padding: 0px;

				li{
					display:inline;
					margin: 3.5%;
					a {
								
					}
					:hover{
						text-decoration: none;
						cursor: pointer;
					}
				}
									
			}
		.threeD {
			text-shadow: -1px 1px 0 #ccc,
			            -2px 2px 0 #c9c9c9,
			            -3px 3px 0 #bbb,
			            -4px 4px 0 #b9b9b9,
			            -5px 5px 0 #aaa,
	 	             	-6px 6px 1px rgba(0,0,0,.1),
				        0 0 5px rgba(0,0,0,.1),
			            -1px 1px 3px rgba(0,0,0,.3),
			            -3px 3px 5px rgba(0,0,0,.2),
					    -5px 5px 10px rgba(0,0,0,.25),
					    -10px 10px 10px rgba(0,0,0,.2),
					    -20px 20px 20px rgba(0,0,0,.15);
		}	
	}		
}