.titleLine{
		// perspective: 150px;
		//    perspective-origin: 10% 10%;
		text-align: center;
		color: transparent;
		font-family: 'bangers';
		font-size: 550%;
		margin-left: 5%;
		p{
			//transform: rotateY(4deg);
			background:url('../images/textBG.png');
	    	background-repeat:repeat-x;
	    	background-position: 0 center;
	   		-webkit-font-smoothing:antialiased;
	   		-webkit-background-clip:text;
	   		-moz-background-clip:text;
	    	background-clip:text;
	    	-webkit-text-fill-color:transparent;
	    	margin:0;
	        -webkit-animation:BackgroundAnimated 25s linear infinite;
		    -moz-animation:BackgroundAnimated 25s linear infinite;
		    -ms-animation:BackgroundAnimated 25s linear infinite;
		    -o-animation:BackgroundAnimated 25s linear infinite;
			animation:BackgroundAnimated 25s linear infinite;
		}
			@keyframes BackgroundAnimated {
				from {
					background-position: 0 center;
				}
				to {
					background-position:100% center
				}
			}
			
			@-webkit-keyframes BackgroundAnimated {
				from {
					background-position:0 center
				}
				to {
					background-position:100% center
				}
			}
					  
			@-moz-keyframes BackgroundAnimated {
				from {
					background-position:0 center
				}
				to {
					background-position:100% center
				}
			}					    
	}